html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

::-moz-selection {
    color: white;
    background: black;
}

::selection {
    color: white;
    background: black;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    position: relative;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
}

pre {
    overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
    cursor: pointer;
}

button,
select {
    text-transform: none;
}

button,
html input[type='button'],
input[type='reset'] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type='checkbox'],
input[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    height: auto;
}

input[type='search'] {
    -webkit-appearance: none;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid black;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

button,
html input[type='button'],
input[type='reset'] {
    border: 0;
    cursor: pointer;
    -webkit-appearance: button;
}


* {
    box-sizing: border-box;
}

html * {
    background-attachment: scroll;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: var(--blue-dark);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.65;
    color: white;
    position: relative;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    position: relative;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
}

pre {
    overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
    cursor: pointer;
}

button,
select {
    text-transform: none;
}

button,
html input[type='button'],
input[type='reset'] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type='checkbox'],
input[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    height: auto;
}

input[type='search'] {
    -webkit-appearance: none;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid black;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

button,
html input[type='button'],
input[type='reset'] {
    border: 0;
    cursor: pointer;
    -webkit-appearance: button;
}

a {
    color: inherit;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.txt60 {
    font-size: 60px;
    line-height: 1.3;
}

.txt40 {
    font-size: 40px;
    line-height: 1.35;
}

.txt30 {
    font-size: 30px;
    line-height: 1.4;
}

.txt24 {
    font-size: 24px;
}

.txt18 {
    font-size: 18px;
}

.txt16 {
    font-size: 16px;
}

.txt14 {
    font-size: 14px;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-075 {
    margin-top: 0.75rem;
}

.mt-05 {
    margin-top: 0.5rem;
}

.mt-025 {
    margin-top: 0.25rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-075 {
    margin-bottom: 0.75rem;
}

.mb-05 {
    margin-bottom: 0.5rem;
}

.mb-025 {
    margin-bottom: 0.25rem;
}

.pb-0 {
    padding-bottom: 0rem !important;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.pb-3 {
    padding-bottom: 3rem;
}

.pb-4 {
    padding-bottom: 4rem;
}

.pb-075 {
    padding-bottom: 0.75rem;
}

.pb-05 {
    padding-bottom: 0.5rem;
}

.pb-025 {
    padding-bottom: 0.25rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pt-3 {
    padding-top: 3rem;
}

.pt-4 {
    padding-top: 4rem;
}

.pt-075 {
    padding-top: 0.75rem;
}

.pt-05 {
    padding-top: 0.5rem;
}

.pt-025 {
    padding-top: 0.25rem;
}

.no-marg {
    margin: 0;
}

.w100 {
    width: 100%;
}

.w1170,
.w1030,
.w970,
.w900,
.w770,
.w700,
.w600,
.w500 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.w1170 {
    max-width: 1170px;
}

.w1030 {
    max-width: 1030px;
}

.w970 {
    max-width: 970px;
}

.w900 {
    max-width: 900px;
}

.w770 {
    max-width: 770px;
}

.w700 {
    max-width: 700px;
}

.w600 {
    max-width: 600px;
}

.w500 {
    max-width: 500px;
}

.center {
    text-align: center;
}

.start {
    text-align: start;
}

.end {
    text-align: end;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.flex-desktop {
    display: flex;
}

.flex-start {
    align-items: flex-start;
}

.flex-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.gap-4 {
    gap: 4rem;
}

.gap-05 {
    gap: 0.5rem;
}

.gap-025 {
    gap: 0.25rem;
}

.gap-075 {
    gap: 0.75rem;
}

.hover {
    cursor: pointer;
    transition: all 400ms ease;
}

.hover:hover {
    filter: brightness(90%);
}

.hover:active {
    filter: brightness(80%);
}

.hover.more-hover:hover {
    filter: brightness(70%);
}

.hover.more-hover:active {
    filter: brightness(50%);
}

.decoration-none {
    text-decoration: none;
}

.block {
    display: block;
}

.light {
    font-weight: 300;
}

.normal {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.semi {
    font-weight: 600;
}

.mobile {
    display: none !important;
}

.balance {
    text-wrap: balance;
}

.pretty {
    text-wrap: pretty;
}

.wrap {
    flex-wrap: wrap;
}

.grid {
    display: grid;
}

.grid-wrap {
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    display: grid;
}

.ellipsis-2 {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ellipsis-3 {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.transition {
    transition: all 200ms ease;
}

@media screen and (max-width: 900px) {
    .flex-desktop {
        flex-direction: column;
    }

    .txt60 {
        font-size: 40px;
    }

    .txt40 {
        font-size: 30px;
    }

    .txt30 {
        font-size: 24px;
    }

    .txt24 {
        font-size: 20px;
    }

    .gap-1 {
        gap: 0.5rem;
    }

    .gap-2 {
        gap: 1rem;
    }

    .gap-3 {
        gap: 1.5rem;
    }

    .gap-4 {
        gap: 2rem;
    }

    .pb-1 {
        padding-bottom: 0.5rem;
    }

    .pb-2 {
        padding-bottom: 1rem;
    }

    .pb-3 {
        padding-bottom: 1.5rem;
    }

    .pb-4 {
        padding-bottom: 2rem;
    }

    .pt-1 {
        padding-top: 0.5rem;
    }

    .pt-2 {
        padding-top: 1rem;
    }

    .pt-3 {
        padding-top: 1.5rem;
    }

    .pt-4 {
        padding-top: 2rem;
    }

    .mt-1 {
        margin-top: 0.5rem;
    }

    .mt-2 {
        margin-top: 1rem;
    }

    .mt-3 {
        margin-top: 1.5rem;
    }

    .mt-4 {
        margin-top: 2rem;
    }

    .mb-1 {
        margin-bottom: 0.5rem;
    }

    .mb-2 {
        margin-bottom: 1rem;
    }

    .mb-3 {
        margin-bottom: 1.5rem;
    }

    .mb-4 {
        margin-bottom: 2rem;
    }

    .mobile {
        display: block !important;
    }

    .desktop {
        display: none;
    }

    .mobile-full {
        width: 100%;
        text-align: center;
    }
}